@function em($target, $context) {
  @return $target / $context * 1em;
}

html {
  font-family: 'PT Serif', serif;
  font-size: 18px;
  line-height: 1.6;

  /* Un/comment below to create a visual baseline grid repat every 29px*/
  // background-image: linear-gradient(to bottom, transparent 0px, transparent 28px, red 28px, red 29px);
  // background-size: 100% 29px;

  @media (min-width: 600px) {
    font-size: 20px;

    /* Un/comment below to create a visual baseline grid repat every 29px*/
    // background-image: linear-gradient(to bottom, transparent 0px, transparent 31px, red 31px, red 32px);
    // background-size: 100% 32px;
  }

  @media (min-width: 1000px) {
    font-size: 22px;

    /* Un/comment below to create a visual baseline grid repat every 29px*/
    // background-image: linear-gradient(to bottom, transparent 0px, transparent 34.2px, red 34.2px, red 35.2px);
    // background-size: 100% 35.2px;
  }
}

h1 {
  // 1.333 * 1.333 * 1.333 = 2.368em
  font-size: 2.368em; // 18px * 1.333 * 1.333 * 1.333 = 42.635px
  line-height: em(3.2, 2.368); /* 18px * 1.6 * 2 = 57.6px*/
}

h2 {
  // 1.333 * 1.333 = 1.776em
  font-size: 1.776em; // 18px * 1.333 * 1.333 = 31.984px
  line-height: em(2.4, 1.776); // 18px * 1.6 * 1.5 (multi-line spacing) = 43.2px
}

h3 {
  // 1.333em
  font-size: 1.333em; // 18px * 1.333 = 23.994px
  line-height: em(1.6, 1.333); /* 18px * 1.6 = 28.8px */
}

h1, h2, h3 {
  margin: 28.8px 0; // 18px * 1.6 = 28.8px

  @media (min-width: 600px) {
    margin: 32px 0; // 20px * 1.6 = 32px
  }

  @media (min-width: 1000px) {
    margin: 35.2px 0; // 22px * 1.6 = 35.2px
  }
}

p, ul, ol, blockquote {
  margin: 21.6px 0; // 18px * 1.6 * 0.75 = 21.6px

  @media (min-width: 600px) {
    margin: 24px 0; // 20px * 1.6 * 0.75 = 24px
  }

  @media (min-width: 1000px) {
    margin: 26.4px 0; // 22px * 1.6 * 0.75 = 26.4px
  }
}

.inset {
  font-size: 0.64em; // 11.52px
  float: left;
  max-width: 16em;
  margin: 6px 15px 0 0;
  line-height: 21.6px; // 18px * 1.6 * 0.75 =  21.6px

  @media (min-width: 600px) {
    margin: 7px 15px 0 0;
    line-height: 24px; // 20px *1.6 * 0.75
  }

  @media (min-width: 1000px) {
    margin: 8px 15px 0 0;
    line-height: 26.4px; // 22px * 1.6 * 0.75
  }
}

.button {
  text-align: center;
  background-color: #ccc;
  max-width: 8em;
  padding: 14.4px; // 0.5 baseline

  @media (min-width: 600px) {
    padding: 16px; // 0.5 baseline
  }

  @media (min-width: 1000px) {
    padding: 17.6px; // 0.5 baseline
  }
}

// ul, ol {
//   padding: 0;
//   margin-left: 32.4px; // 14.4px + 18px = 32.4px (Half baseline + font size)
// }

// @media (min-width: 600px) {
//
// }
//
// @media (min-width: 1000px) {
//
// }
