@function em($target, $context) {
  @return $target / $context * 1em;
}

@function rem($lineHeight, $multiplier) {
  @return 1rem * $lineHeight * $multiplier;
}

html {
  font-family: 'PT Serif', serif;
  font-size: 112.5%;
  line-height: 1.6;

  /* Un/comment below to create a visual baseline grid repat every 29px*/
  // background-image: linear-gradient(to bottom, transparent 0px, transparent 28px, red 28px, red 29px);
  // background-size: 100% 29px;

  @media (min-width: 600px) {
    font-size: 125%;

    /* Un/comment below to create a visual baseline grid repat every 29px*/
    // background-image: linear-gradient(to bottom, transparent 0px, transparent 31px, red 31px, red 32px);
    // background-size: 100% 32px;
  }

  @media (min-width: 1000px) {
    font-size: 137.5%;

    /* Un/comment below to create a visual baseline grid repat every 29px*/
    // background-image: linear-gradient(to bottom, transparent 0px, transparent 34.2px, red 34.2px, red 35.2px);
    // background-size: 100% 35.2px;
  }
}

h1 {
  font-size: 1.728em; // 1.2 ^ 3 = 1.994
  line-height: rem(1.6, 1);
  margin: rem(1.6, 1) 0;

  @media (min-width: 600px) {
    font-size: 2.368em; // 1.333 * 1.333 * 1.333 = 2.368em
    line-height: rem(1.6, 2);
  }
}

h2 {
  font-size: 1.44em; // 1.2 ^ 2 = 1.44
  line-height: rem(1.6, 1);
  margin: rem(1.6, 1) 0;

  @media (min-width: 600px) {
    font-size: 1.776em; // 1.333 * 1.333 = 1.776em
    line-height: rem(1.6, 1.5);
  }
}

h3 {
  font-size: 1.2em; // 1.2 ^ 1 = 1.2
  line-height: rem(1.6, 1);
  margin: rem(1.6, 1) 0;

  @media (min-width: 600px) {
    font-size: 1.333em; // 1.333em
  }
}

p, ul, ol, blockquote {
  margin: 1.2em 0; // 18px * 1.6 * 0.75 = 21.6px
}

.container {
  max-width: 30em;
  margin-left: auto;
  margin-right: auto;
}

.inset {
  font-size: 0.64em; // 11.52px
  float: left;
  max-width: 16em;
  margin: em(0.333, 0.64) em(0.833, 0.64) 0 0;
  line-height: em(1.2, 0.64); // 18px * 1.6 * 0.75 =  21.6px
}

.button {
  text-align: center;
  background-color: #ccc;
  max-width: 8em;
  padding: em(.8, 1); // 0.5 baseline
}

// ul, ol {
//   padding: 0;
//   margin-left: 32.4px; // 14.4px + 18px = 32.4px (Half baseline + font size)
// }

// @media (min-width: 600px) {
//
// }
//
// @media (min-width: 1000px) {
//
// }
