html {
  font-family: 'PT Serif', serif;
  font-size: 18px;
  line-height: 1.6;
  max-width: 32em;
  /* create a visual baseline grid repat every 29px*/
  /*background-image: linear-gradient(to bottom, transparent 0px, transparent 28px, red 28px, red 29px);
  background-size: 100% 29px;*/
}

h1, h2, h3, p {
  margin: 29px 0; /* 18px * 1.6 =  28.8px */
}

h1 {
  font-size: 2.369em; /* 42.642px */
  line-height: 58px; /* 18px * 1.6 * 2 = 57.6px*/
}

h2 {
  font-size: 1.777em; /* 31.986px */
  line-height: 43px; /* 18px * 1.6 * 1.5 = 43.2px*/
}

h3 {
  font-size: 1.333em; /* 23.994px */
  line-height: 29px; /* 18px * 1.6 = 28.8px */
}
